@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes puzzle {
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); } }

@keyframes puzzle {
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); } }

@-webkit-keyframes puzzle-pink {
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }

@keyframes puzzle-pink {
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }

@-webkit-keyframes puzzle-hand {
  50% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); } }

@keyframes puzzle-hand {
  50% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); } }

body {
  font-family: 'Noto Sans TC', "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-size: 14px;
  word-break: break-all;
  color: #2E2F2F; }

.img-responsive {
  max-width: 100%;
  height: auto; }

a {
  color: #333333;
  word-break: break-all;
  text-decoration: none; }

.clearfix:after {
  display: block;
  content: ".";
  height: 0;
  clear: both;
  visibility: hidden; }

.top-btn {
  position: fixed;
  cursor: pointer;
  z-index: 10;
  right: 0px;
  bottom: 30%;
  display: none;
  text-align: center; }
  .top-btn a {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    width: 50px;
    height: 120px;
    padding: 15px;
    background: #e97d80;
    color: #fff;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    display: block;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .top-btn a:hover {
      opacity: 0.6; }
    .top-btn a:nth-child(2) {
      background: #f89081; }
    .top-btn a:nth-child(3) {
      background: #f8e3ce;
      color: #2e2f2f; }
  .top-btn:hover #fill-path {
    fill: orange; }
  .top-btn svg {
    max-width: 90px; }

.sub-nav {
  list-style: none;
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%; }
  .sub-nav li {
    background-color: #449A93;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-left: 1px solid #4faea7;
    border-right: 1px solid #4faea7;
    padding: 12px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer; }
    .sub-nav li:hover {
      background-color: #3b857e; }
  .sub-nav a {
    font-size: 18px;
    color: #fff;
    display: block; }

.navFixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 50px;
  z-index: 10; }

.headFixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 11; }

.kv {
  background: url(../img/kv-bg.png);
  background-size: cover;
  position: relative; }
  .kv .text {
    display: inline-block;
    max-width: 382px;
    width: 100%;
    text-align: center;
    margin-top: 140px; }
    .kv .text a {
      display: block;
      max-width: 210px;
      width: 100%;
      font-size: 24px;
      color: #fff;
      background: #799bdb;
      border-radius: 30px;
      padding: 10px;
      margin: 30px auto; }
      .kv .text a img {
        width: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        margin-top: -4px; }
    .kv .text p {
      font-size: 25px;
      margin: 6px 0; }
      .kv .text p span {
        font-size: 31px;
        color: #fc9a30; }
    .kv .text h1 {
      font-size: 50px;
      color: #f99082;
      margin: 0;
      position: relative;
      z-index: 2; }
    .kv .text h2 {
      font-size: 36px;
      color: #799bdb;
      position: relative;
      z-index: 2;
      margin: 16px 0;
      margin-bottom: 38px; }
      .kv .text h2::after {
        content: '';
        max-width: 370px;
        height: 97px;
        display: block;
        background: #ffffff;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(rgba(255, 255, 255, 0)));
        background: -webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
        background: -o-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
        background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 100%;
        border-radius: 55px;
        position: absolute;
        z-index: -1;
        bottom: -16px; }
  .kv .thanks-text {
    position: absolute;
    top: 30px;
    right: 100px; }
    .kv .thanks-text img {
      display: inline-block;
      width: 11px;
      margin-right: 10px; }
    .kv .thanks-text span {
      font-size: 18px; }
      .kv .thanks-text span i {
        font-size: 22px;
        color: #009b96; }
  .kv .main-kv {
    max-width: 432px;
    width: 100%;
    float: right;
    display: inline-block; }
  .kv .container {
    max-width: 914px;
    width: 100%;
    margin: 0 auto; }
  .kv .puzzle-green {
    -webkit-animation: puzzle 2s infinite;
    animation: puzzle 2s infinite;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  .kv .puzzle-yellow {
    -webkit-animation: puzzle 2s infinite;
    animation: puzzle 2s infinite;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center; }
  .kv .puzzle-hand {
    -webkit-animation: puzzle-hand 3s infinite;
    animation: puzzle-hand 3s infinite;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center; }
  .kv .puzzle-pink {
    -webkit-animation: puzzle-pink 3s infinite;
    animation: puzzle-pink 3s infinite;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }

.what_section .sub_title {
  text-align: center; }
  .what_section .sub_title p {
    font-size: 20px;
    line-height: 30px;
    margin: 46px 0; }
  .what_section .sub_title img {
    max-width: 50px;
    width: 100%;
    margin: 0 auto; }
  .what_section .sub_title h2 {
    font-size: 24px;
    color: #2cc4a7; }

.what_section .col-6 {
  position: relative;
  width: 49%;
  border-radius: 12px;
  display: block;
  padding: 35px; }
  .what_section .col-6 h3 {
    font-size: 22px; }
  .what_section .col-6 ul {
    list-style: none;
    padding: 0;
    display: table;
    margin: 0 auto;
    max-width: 338px;
    width: 100%; }
    .what_section .col-6 ul li {
      font-size: 18px;
      line-height: 32px; }

.what_section .block_2 {
  margin-right: 20px;
  background: #fff5d7; }
  .what_section .block_2 ul li {
    line-height: 32px;
    margin-bottom: 14px; }
    .what_section .block_2 ul li span {
      border-radius: 12px;
      margin-right: 8px;
      width: 88px;
      text-align: center;
      display: inline-block;
      color: #fff; }
    .what_section .block_2 ul li:nth-child(2) span {
      background: #f4be50; }
    .what_section .block_2 ul li:nth-child(2) b {
      font-weight: normal;
      color: #f4be50; }
    .what_section .block_2 ul li:nth-child(3) span {
      background: #e97d80; }
    .what_section .block_2 ul li:nth-child(3) b {
      font-weight: normal;
      color: #e97d80; }
    .what_section .block_2 ul li:nth-child(4) span {
      background: #8eb03a; }
    .what_section .block_2 ul li:nth-child(4) b {
      font-weight: normal;
      color: #8eb03a; }
    .what_section .block_2 ul li:nth-child(5) span {
      background: #70c8c4; }
    .what_section .block_2 ul li:nth-child(5) b {
      font-weight: normal;
      color: #70c8c4; }

.block_3 {
  background: #f9e3cf; }
  .block_3 li {
    line-height: 32px;
    margin-bottom: 14px; }
    .block_3 li img {
      margin-right: 8px; }

.row {
  max-width: 980px;
  width: 100%;
  margin: 0 auto; }

.row_2 {
  margin-top: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.block_3 li img {
  max-width: 23px;
  width: 100%;
  vertical-align: middle; }

.block_pin {
  max-width: 38px;
  width: 100%;
  position: absolute;
  top: -58px;
  left: 12px; }

.block_1 {
  background: #ecf5fc;
  border-radius: 12px;
  -webkit-box-shadow: 0 7px 7px 5px #98c6e5;
  box-shadow: 0 7px 7px 5px #98c6e5;
  text-align: center;
  position: relative;
  padding: 30px 0; }
  .block_1 .bubble {
    position: absolute;
    max-width: 145px;
    width: 100%; }
  .block_1 .bubble_1 {
    left: -42px;
    max-width: 73px; }
  .block_1 .bubble_2 {
    max-width: 145px;
    right: -63px;
    z-index: -1;
    top: -64px; }
  .block_1 .bubble_3 {
    max-width: 116px;
    right: -63px;
    bottom: -64px; }
  .block_1 .left_con {
    max-width: 157px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 100px; }
  .block_1 .right_con {
    display: inline-block;
    vertical-align: top;
    text-align: left; }
    .block_1 .right_con h3 {
      font-size: 24px;
      background: #2cc4a7;
      max-width: 193px;
      width: 100%;
      border-radius: 12px;
      padding: 10px;
      font-weight: 500;
      color: #fff; }
    .block_1 .right_con ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    .block_1 .right_con li {
      font-size: 20px;
      line-height: 30px; }
      .block_1 .right_con li span {
        color: #fc9a30;
        font-size: 22px; }
      .block_1 .right_con li img {
        width: 15px;
        margin-right: 10px; }

.wonderful {
  margin: 100px 0;
  background: #f9f2ed;
  padding: 50px 0; }
  .wonderful .sub_title {
    text-align: center; }
    .wonderful .sub_title img {
      max-width: 50px;
      width: 100%;
      margin: 0 auto; }
    .wonderful .sub_title h2 {
      font-size: 24px;
      color: #e97d80; }
  .wonderful .row {
    max-width: 980px;
    width: 100%;
    margin-top: 100px;
    text-align: center; }
  .wonderful .col-3 {
    max-width: 200px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 20px; }
    .wonderful .col-3 p {
      font-size: 20px;
      margin-top: 50px; }
  .wonderful .main-pic {
    max-width: 150px;
    width: 100%;
    display: block;
    margin: 0 auto; }
  .wonderful .pic {
    position: relative; }
    .wonderful .pic .dash {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .wonderful .pic:hover .dash {
      -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1); }

.tabs {
  margin-top: 96px; }
  .tabs .tab {
    display: inline-block;
    background: #f2f2f2;
    font-size: 20px;
    margin: 11px;
    max-width: 306px;
    width: 100%;
    padding: 10px;
    border-radius: 30px 0 0 30px;
    text-align: center; }
  .tabs .tab-list {
    max-width: 650px;
    width: 100%;
    margin: 30px auto;
    border: 2px dashed #ffe8ef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 30px;
    padding: 0; }
    .tabs .tab-list a {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .tabs .tab-list a:last-child {
        border-radius: 0px 30px 30px 0px; }
  .tabs .active-tab {
    background: #ff6a97;
    color: #fff; }
  .tabs .sub_title {
    text-align: center; }
    .tabs .sub_title img {
      max-width: 50px;
      width: 100%;
      margin: 0 auto;
      display: block; }
    .tabs .sub_title h2 {
      font-size: 24px;
      color: #0f226e; }
  .tabs .tab-content {
    display: none;
    position: relative; }
    .tabs .tab-content .wave_bg {
      position: absolute;
      z-index: -1;
      bottom: -41px;
      width: 100%; }
    .tabs .tab-content .row {
      text-align: center;
      margin: 120px auto; }
      .tabs .tab-content .row a {
        display: block;
        font-size: 22px;
        color: #fff;
        max-width: 183px;
        width: 100%;
        background: #00c57b;
        margin: 30px auto;
        border: 1px solid #fff;
        -webkit-box-shadow: 0px 5px 0px #02aa65;
        box-shadow: 0px 5px 0px #02aa65;
        padding: 10px;
        border-radius: 12px; }
      .tabs .tab-content .row .col-3 {
        display: inline-block;
        vertical-align: top;
        max-width: 226px;
        position: relative;
        width: 100%; }
        .tabs .tab-content .row .col-3 .num {
          font-size: 18px;
          position: absolute;
          font-style: italic;
          top: -40px;
          left: -34px;
          color: #799bdb; }
          .tabs .tab-content .row .col-3 .num span {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #799bdb;
            font-size: 50px;
            vertical-align: bottom;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            color: #fff;
            margin-bottom: -16px;
            margin-left: 8px; }
        .tabs .tab-content .row .col-3 .finish.num {
          top: -18px; }
        .tabs .tab-content .row .col-3 p {
          font-size: 16px;
          line-height: 26px; }
        .tabs .tab-content .row .col-3 h4 {
          font-size: 20px;
          color: #4db6ac;
          font-weight: 500;
          display: table;
          margin: 20px auto;
          border-bottom: 2px dashed;
          padding-bottom: 6px; }
        .tabs .tab-content .row .col-3 img {
          max-width: 98px;
          width: 100%;
          height: 144px;
          display: block;
          margin: 0 auto; }
    .tabs .tab-content h3 {
      color: #2cc4a7;
      position: relative;
      display: table;
      margin: 54px auto;
      z-index: 2;
      font-size: 22px; }
      .tabs .tab-content h3 img {
        position: absolute;
        max-width: 83px;
        width: 100%;
        bottom: -29px;
        left: 37%;
        z-index: -1;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
  .tabs .tab-content.show {
    display: block; }

.documents {
  max-width: 811px;
  position: relative;
  height: 334px;
  width: 100%;
  margin: 0 auto;
  border-radius: 22px;
  border: 1px solid #e78e92; }
  .documents .banner_title {
    max-width: 390px;
    width: 100%;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -35px; }
  .documents .infographic {
    max-width: 215px;
    width: 100%;
    position: absolute;
    top: 97px;
    right: 20px; }
  .documents ul {
    list-style: none;
    padding: 0;
    display: table;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 100px; }
    .documents ul li {
      font-size: 20px;
      line-height: 30px; }
      .documents ul li img {
        width: 15px;
        margin-right: 10px; }
    .documents ul a {
      display: block;
      font-size: 22px;
      color: #fff;
      max-width: 183px;
      width: 100%;
      background: #ff9c4a;
      text-align: center;
      border: 1px solid #fff;
      -webkit-box-shadow: 0px 5px 0px #ef7b07;
      box-shadow: 0px 5px 0px #ef7b07;
      padding: 10px;
      border-radius: 12px;
      margin-top: 18px; }

.faq_top {
  margin-bottom: -2px; }

.faq {
  background: url(../img/faq_bg.jpg);
  background-size: cover;
  background-position: center;
  height: 1038px; }
  .faq .sub_title {
    text-align: center; }
    .faq .sub_title img {
      max-width: 50px;
      width: 100%;
      margin: 0 auto; }
    .faq .sub_title h2 {
      font-size: 24px;
      color: #ff9c4a; }
  .faq .qa-section {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 7px 0px rgba(221, 148, 69, 0.24);
    box-shadow: 0 7px 0px rgba(221, 148, 69, 0.24);
    border-radius: 10px;
    padding: 6px 28px;
    margin-bottom: 26px;
    padding-bottom: 13px;
    padding-left: 63px; }
    .faq .qa-section .answer {
      display: none; }
      .faq .qa-section .answer p {
        line-height: 26px;
        margin: 0; }
      .faq .qa-section .answer ul {
        margin: 0;
        padding: 0;
        line-height: 28px; }
        .faq .qa-section .answer ul ol {
          padding-left: 16px; }
    .faq .qa-section h3 {
      position: relative;
      font-size: 18px;
      font-weight: normal; }
      .faq .qa-section h3 i {
        position: absolute;
        right: 20px;
        color: #ff7d5a; }
      .faq .qa-section h3 span {
        color: #ff7d5a;
        position: absolute;
        left: -42px; }
  .faq .active-qa h3 {
    color: #ff7d5a; }
    .faq .active-qa h3 i::before {
      content: "\f139"; }

.notice > ol {
  display: none;
  max-width: 980px;
  width: 100%;
  margin: 30px auto;
  line-height: 28px; }
  .notice > ol ul {
    padding-left: 15px; }

.notice h3 {
  background: #ff7d5a;
  margin: 0;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  padding: 10px;
  font-size: 24px; }
  .notice h3 span {
    font-size: 18px; }

#loan_count {
  padding: 16px;
  max-width: 470px;
  width: 100%;
  height: auto; }
  #loan_count a {
    display: block;
    background: #F38F7A;
    color: #fff;
    max-width: 113px;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    text-align: center; }
  #loan_count .showtext {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: #00a195; }
  #loan_count p {
    text-align: center;
    font-size: 18px; }
  #loan_count input[type="radio"]:checked + label {
    background: #009E96;
    color: white; }
  #loan_count input[type="radio"]:not(:disabled) ~ label {
    cursor: pointer; }
  #loan_count label {
    display: inline-block;
    background: white;
    border: 2px solid #009E96;
    border-radius: 100px;
    height: 65px;
    width: 65px;
    margin-bottom: 1rem;
    text-align: center;
    position: relative; }
    #loan_count label p {
      display: inline-block;
      padding: 16px 0;
      margin-top: 6px;
      padding-bottom: 0; }
    #loan_count label h2 {
      display: inline-block;
      font-size: 18px; }
  #loan_count input[type="radio"] {
    display: none; }
  #loan_count .loan-title {
    background: #fff;
    text-align: center;
    color: #000;
    margin: 10px 0;
    vertical-align: top;
    padding-top: 0;
    padding-bottom: 10px; }
  #loan_count .group {
    text-align: center;
    margin: 10px auto;
    font-size: 16px;
    border: 1px solid #2cc4a7; }
  #loan_count .title_calc {
    color: #2cc4a7;
    font-size: 24px;
    text-align: center;
    margin: 15px 0; }

.esunlogo {
  display: block;
  float: left;
  margin: 0;
  padding: 10px 15px; }
  .esunlogo img {
    width: 225px; }

header {
  position: static;
  z-index: 100;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  background-color: #f8f8f8;
  min-height: 50px; }
  header .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }

.target-burger {
  right: 0;
  top: 0;
  width: 3.25em;
  height: 3.25em;
  position: absolute;
  display: block;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden; }

.buns {
  width: 1.625em;
  height: 1.625em;
  list-style: none;
  margin: -0.8125em 0 0 -0.8125em;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: #fff;
  -webkit-transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); }
  .buns li {
    width: 100%;
    height: 2px;
    background-color: #4faea7;
    position: absolute;
    top: 50%;
    margin-top: -0.75px;
    -webkit-transform: translateY(-3.75px) translateZ(0);
    transform: translateY(-3.75px) translateZ(0);
    -webkit-transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); }
    .buns li:nth-child(2) {
      -webkit-transform: translateY(3.75px) translateZ(0);
      transform: translateY(3.75px) translateZ(0); }
    .buns li:last-child {
      -webkit-transform: translateY(11.25px) translateZ(0);
      transform: translateY(11.25px) translateZ(0); }

nav > ul {
  list-style: none;
  margin: 0;
  display: block;
  padding: 0; }
  nav > ul > li {
    font-size: 16px;
    position: relative; }
    nav > ul > li > a {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      color: #009d98; }

.dropdown-menu {
  padding: 0; }
  .dropdown-menu li {
    display: block; }
    .dropdown-menu li a {
      font-size: 14px; }

#footer {
  padding-bottom: 16px;
  background: url(../img/footerBg.jpg) repeat-y center bottom; }

.anchor {
  max-height: 47px;
  text-align: center;
  padding-top: 16px;
  margin: 0;
  padding-left: 0; }
  .anchor li {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.06em; }
    .anchor li::before {
      color: #30ABAF;
      content: "|";
      padding: 0 5px 0 5px; }
    .anchor li a {
      display: inline;
      color: #fff;
      font-weight: normal;
      text-decoration: none;
      cursor: pointer; }
  .anchor li.first::before {
    display: none; }

.footerWarning_txt {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  margin: 0; }

.footerWarning {
  color: #555;
  background: #f7f7f7; }
  .footerWarning .footerWarning_cont {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.footerWarning_title {
  margin-bottom: 0.5em;
  font-size: 24px;
  letter-spacing: 0.2em;
  text-align: center; }

.footer_fix {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: none;
  position: fixed;
  bottom: 0;
  height: 45px;
  text-align: center;
  width: 100%;
  z-index: 99;
  padding: 0; }
  .footer_fix .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    opacity: .9;
    text-decoration: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer_fix .box p {
      color: #fff;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      vertical-align: middle;
      margin: 0; }
    .footer_fix .box img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      max-width: 100%;
      margin-right: 6px; }

@media (min-width: 1100px) {
  .main-kv svg {
    height: 650px; } }

@media (min-width: 900px) {
  .footerWarning_txt {
    margin-left: 350px; }
  .footerWarning_title {
    float: left;
    font-size: 30px; } }

@media screen and (min-width: 801px) {
  .buns {
    display: none; }
  nav {
    float: right;
    width: 61%;
    text-align: right; }
    nav > ul > li {
      display: inline-block;
      max-width: 118px;
      width: 100%;
      text-align: center;
      height: 50px;
      -webkit-transition: .3s ease-in;
      -o-transition: .3s ease-in;
      transition: .3s ease-in; }
      nav > ul > li span {
        display: block; }
      nav > ul > li:hover > a {
        border-bottom: 1px solid; }
      nav > ul > li:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        top: 100%; }
      nav > ul > li > a {
        display: inline-block;
        padding: 0;
        margin: 16px 0;
        padding-bottom: 8px; }
    nav .active-dropdown-menu {
      opacity: 1 !important;
      visibility: visible !important;
      top: 100% !important; }
    nav .dropdown-menu {
      position: absolute;
      background: rgba(0, 154, 149, 0.8);
      width: 100%;
      color: #fff;
      z-index: 10;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      opacity: 0;
      visibility: hidden;
      top: 120%; }
      nav .dropdown-menu li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.58);
        padding: 10px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        nav .dropdown-menu li:hover {
          background: #009A95; }
      nav .dropdown-menu a {
        color: #fff; } }

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 20px; }
  header .container {
    padding: 0; } }

@media screen and (max-width: 1100px) {
  .what_section {
    padding: 0 30px;
    overflow: hidden; } }

@media screen and (max-width: 900px) {
  .tabs #one .finish {
    position: static;
    margin-top: 46px; }
  .documents {
    width: 90%; }
  .notice h3 {
    font-size: 18px; }
  .faq {
    height: 1000px; }
    .faq .container {
      padding: 0 30px; }
  .kv {
    background-position: -315px 0;
    padding-top: 100px; }
    .kv .thanks-text {
      right: 30px; }
    .kv .text {
      display: block;
      margin: 0 auto;
      z-index: 2;
      position: relative; }
    .kv .main-kv {
      float: none;
      display: block;
      margin: 0 auto;
      margin-top: -120px;
      z-index: -1; }
  .what_section .row_2 {
    display: block;
    margin: 0; }
  .what_section .col-6 {
    width: 100%;
    margin: 50px 0; }
  .wonderful .col-3 {
    max-width: 132px; }
  .wonderful .row {
    margin-top: 50px; } }

@media screen and (max-width: 800px) {
  .navFixed {
    top: 0 !important; }
  .toggled-fixed {
    position: fixed; }
  .target-burger.toggled .buns li {
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0); }
    .target-burger.toggled .buns li:nth-child(2) {
      opacity: 0;
      -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
      transform: translateX(100px); }
    .target-burger.toggled .buns li:last-child {
      -webkit-transform: rotate(-45deg) translateZ(0);
      transform: rotate(-45deg) translateZ(0); }
  .main-nav {
    position: absolute;
    left: 0;
    top: 49px;
    z-index: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: rgba(0, 154, 149, 0.956); }
    .main-nav ul {
      padding: 0;
      text-align: center; }
    .main-nav > ul > li {
      position: relative;
      margin: 30px 20px;
      font-size: 20px; }
      .main-nav > ul > li > a {
        color: #fff;
        position: relative; }
    .main-nav > ul .dropdown > a {
      cursor: pointer; }
      .main-nav > ul .dropdown > a::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        display: inline-block;
        vertical-align: middle;
        border-width: 6px 4px 0 4px;
        border-color: #ffffff transparent transparent transparent;
        margin: 0 5px;
        position: absolute;
        top: 12px; }
  .dropdown-menu {
    display: none;
    border: 1px solid #fff;
    margin: 10px;
    border-left: 0;
    border-right: 0; }
    .dropdown-menu li {
      margin: 10px; }
      .dropdown-menu li a {
        color: #fff;
        font-size: 16px; }
  .active-dropdown-menu {
    display: block; }
  .main-nav.toggled {
    display: block;
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; } }

@media screen and (max-width: 767px) {
  .footer_fix {
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden; }
  .footerFixed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    visibility: visible; }
  .block_pin {
    max-width: 20px;
    top: -27px; }
  .top-btn {
    right: 5px;
    bottom: 12%; }
    .top-btn a {
      -webkit-writing-mode: initial;
      -ms-writing-mode: initial;
      writing-mode: initial;
      width: 50px;
      height: 50px;
      border-radius: 76px;
      line-height: 19px;
      padding: 6px;
      margin-bottom: 10px;
      font-size: 14px;
      display: block; }
  .block_1 {
    padding: 15px; }
    .block_1 .bubble_2 {
      z-index: 2;
      max-width: 90px;
      right: -40px; }
    .block_1 .bubble_3 {
      z-index: -1;
      right: -30px; }
    .block_1 .right_con li {
      font-size: 16px; }
    .block_1 .right_con h3 {
      font-size: 20px;
      text-align: center;
      margin: 18px auto; }
    .block_1 .left_con {
      display: block;
      margin: 0 auto; }
  .sub_title h2 {
    font-size: 20px !important; }
  .tabs .tab-content .row {
    margin: 0 auto; }
    .tabs .tab-content .row a {
      font-size: 20px;
      max-width: 147px; }
    .tabs .tab-content .row .col-3 .num {
      margin: 20px 0;
      position: static; }
    .tabs .tab-content .row .col-3 h4 {
      font-size: 18px; }
  .tabs .tab-content h3 {
    font-size: 18px; }
  .tabs .tab-list {
    width: 90%; }
  .tabs .tab {
    font-size: 16px; }
  .documents {
    height: 442px;
    margin-top: 100px;
    padding: 20px;
    padding-top: 0; }
    .documents .infographic {
      max-width: 180px;
      top: 55%; }
    .documents ul {
      margin-top: 56px; }
      .documents ul a {
        font-size: 20px;
        max-width: 147px; }
      .documents ul li {
        font-size: 16px; }
    .documents .banner_title {
      max-width: 280px; }
  .faq {
    height: auto; }
    .faq .qa-section {
      padding-left: 52px; }
      .faq .qa-section h3 {
        font-size: 16px;
        line-height: 24px; }
        .faq .qa-section h3 i {
          top: 0;
          right: -17px; }
  .wonderful .col-3 {
    margin-bottom: 20px; }
    .wonderful .col-3 p {
      font-size: 16px;
      margin-top: 20px; }
  .what_section .sub_title p {
    font-size: 16px;
    margin: 32px 0; }
  .what_section .block_2 ul li span {
    margin-right: 6px;
    width: 60px; }
  .what_section .col-6 {
    padding: 15px; }
    .what_section .col-6 ul li {
      font-size: 16px; }
    .what_section .col-6 h3 {
      font-size: 18px; }
  .kv .thanks-text {
    width: 100%;
    text-align: center;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%); }
    .kv .thanks-text span i {
      margin: 0 5px; }
  .kv .text a {
    max-width: 175px;
    font-size: 20px; }
  .kv .text p {
    font-size: 18px; }
    .kv .text p span {
      font-size: 24px; }
  .kv .text h1 {
    font-size: 34px; }
  .kv .text h2 {
    font-size: 28px; } }

@media screen and (max-width: 650px) {
  .sub-nav a {
    font-size: 16px; }
  .welfare .row .col-3 {
    padding-top: 45px; } }

/*# sourceMappingURL=style.css.map */